django
psycopg2-binary
dnspython
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
django-environ
requests
pdfminer.six
boto3
langchain
langchain_aws
django-cors-headers
Pillow
langchain_core
langchain_postgres
langchain_community

